* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

:root {
	--primary: #a21956;
	--secondary: #cacacb;
}
/* -------------------------------------------------- */
/* Inizio Common */
.wrapper {
	background-color: var(--primary);
	height: 100vh;
	width: 100%;
}

/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */

/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */
.card {
	border-radius: 10px;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.form-control,
.form-select {
	border-color: var(--primary);
}

.form-select:active,
.form-select:focus {
	background: var(--primary);
	color: #fff;
	text-shadow: 0 1px 0 rgba(250, 0, 0, 0.4);
}

.form-label {
	color: var(--primary);
}

.btn,
.btn:hover {
	background-color: var(--secondary);
	border-color: var(--bs-gray);
	border-width: 2px;
	color: var(--primary);
}
.btn:active,
.btn:focus {
	box-shadow: none;
	border-color: var(--primary);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.form-control:focus,
.form-select:focus {
	background: var(--primary);
	color: var(--bs-white);
	border-color: var(--primary);
	box-shadow: none;
}

.form-control:focus::placeholder {
	color: var(--bs-white);
}

.mat-list-base .mat-list-option {
	background-color: red;
}

h6.fw-bold:nth-child(1) {
	height: 100px;
}

/* Fine Main */
/* -------------------------------------------------- */
/* !DEBUG ZONE! */
